body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


#welcome-section {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}


#welcome-section h1 {
    color: #6c757d;
}


#welcome-section p {
    color: #6c757d;
}


#recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}


.list-group-item {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}


.list-group-item:hover {
    transform: scale(1.05);
}
